@model App.Models.ProductModel

<div class="card bg-success text-white">
    <h1 class="card-header">xin chao @Model.Name</h1>
    <div class="card-body">
        <p class="card-text">Gia : @Model.Price</p>
    </div>
</div>
