@{
    ViewData["Title"] = "xoa Db";
}

<h1>@ViewData</h1>
<p class="alert alert-danger">
    co chac muon xoa db
</p>

<form method="post">
    <button type="submit" class="btn btn-danger">xoa db</button>
    <hr>
    <a asp-action="Index">quan li db</a>
</form>